body {
	position: relative;
	padding-top: 40px;
}


#ticket, #ticket_history .change {
	padding: .6em 1.2em;
}



#ticket {
	background: #ffd;
	border: 1px solid #dd9;
	border-radius: .4em;
}

#ticket_history .change {
	margin: 0 .3em 1.2em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

}

#ticket_history .change h4 {
	font-size: 14px;
	color: #999999;
	border-bottom: 1px solid #999999; 

}

.properties .property, .properties .value { /*border: 1px solid fuchsia;*/ float: left; margin: 0; }
.properties .property { width: 10%; }
.properties .value { width: 23.333333333%; }


@media (max-width: 767px) {
}

@media (min-width: 1200px) {
	.properties .property { width: 9%; }
	.properties .value { width: 16%; }
	.properties .property:nth-child(8n+1) { clear: both; }
}

@media (min-width: 768px) and (max-width: 1199px) {
	.properties .property { width: 13.333333333%; }
	.properties .value { width: 20%; }
	.properties .property:nth-child(6n+1) { clear: both; }
}

@media (min-width: 481px) and (max-width: 767px) {
	.properties .property { width: 20%; }
	.properties .value { width: 30%; }
	.properties .property:nth-child(4n+1) { clear: both; }
}

@media (max-width: 480px) {
	.properties .property { width: 35%; }
	.properties .value { width: 65%; }
	.properties .property:nth-child(2n+1) { clear: both; }
}

@media (max-width: 979px) {
}

@media (min-width: 980px) {
}